export MEDIA="./data/media"
export DATA="./data/"
export MAILJET_KEY="FILL IN HERE"
export MAILJET_SECRET="FILL IN HERE"
export STAGE=prod
export TAG=1.7
export DOMAIN_NAME="openmhz.com"
export PROTOCOL="https://"

export REACT_APP_BACKEND_SERVER="${PROTOCOL}api.${DOMAIN_NAME}"
export REACT_APP_FRONTEND_SERVER="${PROTOCOL}${DOMAIN_NAME}"
export REACT_APP_SOCKET_SERVER=wss://socket.${DOMAIN_NAME}
export REACT_APP_ACCOUNT_SERVER="${PROTOCOL}account.${DOMAIN_NAME}"
export REACT_APP_ADMIN_SERVER="${PROTOCOL}admin.${DOMAIN_NAME}"
export REACT_APP_COOKIE_DOMAIN=".${DOMAIN_NAME}"
export REACT_APP_ADMIN_EMAIL="admin@email.com"
export REACT_APP_SITE_NAME=OpenMHz
export REACT_APP_ARCHIVE_DAYS=30
export BACKEND_SERVER="${PROTOCOL}api.${DOMAIN_NAME}"
export FRONTEND_SERVER="${PROTOCOL}${DOMAIN_NAME}"
export ADMIN_SERVER="${PROTOCOL}admin.${DOMAIN_NAME}"
export SOCKET_SERVER="wss://socket.${DOMAIN_NAME}"
export ACCOUNT_SERVER="${PROTOCOL}account.${DOMAIN_NAME}"
export COOKIE_DOMAIN=".${DOMAIN_NAME}"
export S3_PROFILE='wasabi-account'
export S3_ENDPOINT='s3.us-west-1.wasabisys.com'
export S3_BUCKET='openmhz-west'
export SITE_NAME="OpenMHz"
export ADMIN_EMAIL="luke@openmhz.com"
export FREE_PLAN=0
export PRO_PLAN=10
export FREE_PLAN_PRICE=0
export PRO_PLAN_PRICE=15
export FREE_PLAN_ARCHIVE=7
export PRO_PLAN_ARCHIVE=30
