export MAILJET_KEY="FILL IN HERE"
export MAILJET_SECRET="FILL IN HERE"
export REACT_APP_SITE_NAME=OpenMHz
export REACT_APP_ADMIN_EMAIL="admin@email.com"
export DOMAIN_NAME="openmhz.test"

export S3_PROFILE='default'
export S3_REGION='us-west-001'
export S3_ENDPOINT='https://s3.us-west-1.wasabisys.com'
export S3_BUCKET='openmhz-test'

export TAG=2.0
export REACT_APP_ARCHIVE_DAYS=30

export STAGE=test
export NODE_ENV="test"
export PROTOCOL="http://"

export REACT_APP_BACKEND_SERVER="${PROTOCOL}api.${DOMAIN_NAME}"
export REACT_APP_FRONTEND_SERVER="${PROTOCOL}${DOMAIN_NAME}"
export REACT_APP_ACCOUNT_SERVER="${PROTOCOL}account.${DOMAIN_NAME}"
export REACT_APP_ADMIN_SERVER="${PROTOCOL}admin.${DOMAIN_NAME}"
export REACT_APP_COOKIE_DOMAIN=".${DOMAIN_NAME}"

