
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>wavesurfer.js | Media Element Example</title>
        <script src="https://unpkg.com/wavesurfer.js"></script>
        <script src="/card.js"></script>
    </head>

    <body >

        <div id="demo">
            <div id="waveform">
                <!-- Here be the waveform -->
            </div>

            <div class="controls">
                <button class="btn btn-primary" data-action="play">
                    <i class="glyphicon glyphicon-play"></i>
                    Play
                    /
                    <i class="glyphicon glyphicon-pause"></i>
                    Pause
                </button>
            </div>
        </div>
    </body>
</html>
    